<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Members</title>
</head>
<body>
<h1>All Members</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Name</th>
    <th>Phone</th>
  </tr>
  </thead>
  <tbody>
  <!-- Loop through each member and display their details -->
  <th:block th:each="member : ${members.memberList}">
    <tr>
      <td th:text="${member.id}">ID</td>
      <td th:text="${member.memberEmail}">Email</td>
      <td th:text="${member.memberName}">Name</td>
      <td th:text="${member.memberPhone}">Phone</td>
    </tr>
  </th:block>
  </tbody>
</table>
</body>
</html>