<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Head content -->
</head>
<style>
    .completed {
        color: red;
        /* Add any other styles you want to apply to completed todos */
    }
</style>
<body>
<a href="/member/logout">로그아웃</a>
<a href="/member/update">회원 수정</a>
<a href="/member/findOne">내 정보</a>
<a href="/member/findAll">회원 전체 조회</a>
<a href="/member/delete">회원 탈퇴</a>
<a href="/todo/findAll">투두 전체 조회</a>

<hr>
<!--<form th:action="@{/todo/create}" method="post">-->
<!--    <input type="text" name="todoName" placeholder="할 일을 입력하세요">-->
<!--    <button type="submit">추가</button>-->
<!--</form>-->

<!--&lt;!&ndash; Todo 목록 &ndash;&gt;-->
<!--<ul>-->
<!--    <li th:each="todo : ${todos}">-->
<!--        <span th:text="${todo.todoName}"></span>-->
<!--        &lt;!&ndash; Todo 수정 폼 &ndash;&gt;-->
<!--        <form th:action="@{/todo/update/{id}(id=${todo.id})}" method="post">-->
<!--            <input type="text" name="todoName" th:value="${todo.todoName}">-->
<!--            <button type="submit">수정</button>-->
<!--        </form>-->
<!--        &lt;!&ndash; Todo 삭제 &ndash;&gt;-->
<!--        <form th:action="@{/todo/delete/{id}(id=${todo.id})}" method="post">-->
<!--            <button type="submit">삭제</button>-->
<!--        </form>-->
<!--        &lt;!&ndash; Todo 토글 &ndash;&gt;-->
<!--        <form th:action="@{/todo/toggle/{id}(id=${todo.id})}" method="post">-->
<!--            <button type="submit">토글</button>-->
<!--        </form>-->
<!--    </li>-->
<!--</ul>-->
</body>
</html>